{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block body %}
<!--
{#<div>#}
{#  <h1>House price predictor</h1>#}
{#    {% if form %}#}
{#  <form method="POST">#}
{#      {{ form.hidden_tag() }}#}
{#      {{ form.house_age.label }} {{ form.house_age() }}#}
{#      {{ form.distance.label }} {{ form.distance() }}#}
{#      {{ form.number_of_stores.label }} {{ form.number_of_stores() }}#}
{#      {{ form.submit() }}#}
{#  </form>#}
{#    {% else %}#}
{#    {% endif %}#}
{#  <br>#}
{#  <b> {{ value }} </b>#}
{#</div>#}
-->
<h1>Welcome to this website</h1>
<div>

</div>
{% endblock %}